body
{
  margin: 0;
  text-align: center;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif

}

h1
{
  font-family: 'Montserrat', sans-serif;
}

h2
{
  font-family: 'Roboto Mono', monospace;
  width: 700px;
  margin: 0 auto 0 auto;
}

p
{
  font-family: 'Ubuntu', sans-serif;
}

.TopContainer
{
  background-color: #ddf3f5;
  position: relative;
  padding-top: 100px;
}

.MidContainer
{
  background-color: red;
  height: 200px;
  width: 200px
}

.BotContainer
{
  background-color: blue;
  height: 200px;
  width: 200px
}

.span-ENU
{
  text-decoration: underline;
}

.bot-cloud-img
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud-img
{
  position: absolute;
  top: 50px;
  right: 300px;
}
