body
{
  margin: 0;
}

h1
{
  margin: 0;
}

.TopContainer
{
  background-color: #ddf3f5;
}

.MidContainer
{
  background-color: red;
  height: 200px;
  width: 200px
}

.BotContainer
{
  background-color: blue;
  height: 200px;
  width: 200px
}

.span-ENU
{
  text-decoration: underline;
}

.walter-img
{
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 390px;
  left: 1650px;
}
